/* -------------------------------
Google font
------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,500,700|Open+Sans:300,400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);


* {
  margin: 0;
  padding: 0;
}

html, body
{ overflow-x: hidden;
  max-width: 100%
}

.container-fluid {
  padding: 0;
}

.screen:first-of-type::before, .screen:nth-child(3)::before{
  content: "";
  background-color: rgba(0,0,0,0.5);

  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  position: absolute;
}

.screen:first-of-type {
  background: #000 url('../images/street_photo_1.jpg') no-repeat center center fixed;
  background-size: cover;
}
.screen:nth-child(2) {
  background: #fff url('../images/mountain_bg.jpg') no-repeat center center fixed;
  background-size: cover;
}
.screen:nth-child(3) {
  background: #000 url('../images/street_photo_2.jpg') no-repeat center center fixed;
  background-size: cover;
}

// -------------------------------
// *      Section Intro start
// -------------------------------

.intro {
  width: 100%;
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;

  .intro-content {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    z-index: 999;
    @media screen and (min-width: 767px) {
      border: 2px solid #000;
      padding: 3em;
    }
    .intro-caption{
      font-size: 3em;
      color: #fff;
      @media screen and (min-width: 767px) {
        font-size: 4em;
        letter-spacing: 0.9em;
      }
    }
    h1 {
      letter-spacing: 0.1em;
      @media screen and (min-width: 767px) {
        letter-spacing: 0.7em;
      }
    }
    h5 {
      padding-top: 10px;
      letter-spacing: 0.3em;
      @media screen and (min-width: 767px) {
        letter-spacing: 0.3em;
      }
    }

  }
  .scroll-down {
    width: 100%;
    background-color: #000;
    opacity: .5;
    height: 100px;
    position:absolute;
    bottom: 0;
    left: 0;

    color:#fff;
    .scroll-down-icon {
      color: grey;
      font-size: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      animation-name: wiggle;
      animation-duration: 1.2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
  }

  @keyframes wiggle {
    0%{
      padding-top: 20px;
    }
    25%{
      padding-top: 24px;
    }
    50% {
      padding-top: 28px;

    }
    75%{
      padding-top: 24px;
    }
    100%{
      padding-top: 20px;

    }
  }


}
// -------------------------------
// *      Section Intro end
// -------------------------------


// -------------------------------
// *      Section Photography start
// -------------------------------

.photography {

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  .photography-content {

    z-index: 999;
    text-align: center;
    .photography-content-inner{
      text-transform: none;
      font-family: 'Open sans', sans-serif;
      font-weight: lighter;
      border: 2px solid #000;
      margin: 0 15px;
      padding: 8em 3em;
      @media screen and (min-width: 767px) {
        border: none;
      }
      h1 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 800;
        font-size: 29px;
        line-height: 41px;
        letter-spacing: 2px;
        color: #fff;

        span {
          font-size: 20px;
          font-weight: 200;
        }
        margin-bottom: 3em;
        @media screen and (min-width: 767px) {
          margin-bottom: 1em;

        }
      }


      .btn-more {
        margin-top: 25px;
        text-align: center;
        .btn-white {
          font-family: 'Open sans', sans-serif;
          font-weight: 400;
          letter-spacing: 5.5px;
          color: #00b0b7;
          font-size: 1em;
          border: 2px solid #00b0b7;
          padding: 8px 25px 8px 25px;
          text-decoration: none;
          text-transform: uppercase;
          transition: background .5s ease-in, transform .25s ease-in-out;


        }
        .btn-white:hover {
          background-color: #00b0b7;
          color: #fff;

        }
      }

    }
  }
}

// -------------------------------
// *      Section Photography end
// -------------------------------

// -------------------------------
// *      Section Profile start
// -------------------------------
.profile {
  @media screen and (min-width: 767px) {
    height: 100vh;
  }
  //background-color: rgba(246,246,246, 0.8);

  width: 100%;

  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 50px;
    font-size: 5em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: rgb(44, 62, 80);

  }

  .profile_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 767px){


        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 60px;


    }
    .card {
      margin-bottom: 60px;
      height: 400px;
      width: 300px;
      position: relative;
      perspective: 500px;
      @media screen and (min-width: 767px){

          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 60px;
      }
    }
    .card:hover .front {
      transform: rotateY(180deg);
    }
    .card:hover .back {
      transform: rotateY(0deg);
    }
    .card::before,
    .card::after {
      content: "";
      width: 30px;
      height: 30px;
      opacity: 1;
      position: absolute;
      transition: all 0.8s ease;
    }
    .card::before {
      background-color: rgb(44, 62, 80);
      top: -15px;
      left: -15px;
    }
    .card::after {
      background-color: rgb(44, 62, 80);
      bottom: -15px;
      right: -15px;
    }

    .card:hover:before {

      background-color: #BDC3C7;
      margin-top: -17px;
      top: 100%;
      right: 100%;
    }
    .card:hover:after {
      background-color: #BDC3C7;
      margin: -17px;
      right: 100%;
      bottom: 100%;

    }
    .faces {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      backface-visibility: hidden;
      transition: 1s;
    }

    .front{
      display: flex;
      justify-content: center;
      align-items: center;
      .card--name {
        i {
          color: #fff;
          font-size: 2em;
        }
        p{
          font-size: 2em;
          text-transform: uppercase;
          color: #fff;
          font-family: 'Oswald', sans-serif;
        }
      }
      background: #566573;
      border-radius: 3px;
    }
    .back {
      display: flex;
      justify-content: center;
      align-items: center;
      .card--content{
        padding: 15px;
        color: #ddd;
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;

      }
      background-color: rgb(44, 62, 80);
      border-radius: 3px;
      transform: rotateY(-180deg);
    }
  }
}

// CARDS SLIDE IN ANIMATION START
.come-in {
  transform: translateY(450px);
  animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}
// CARDS SLIDE IN ANIMATION END

// -------------------------------
// *      Section Profile end
// -------------------------------



// -------------------------------
// *      Section SVG start
// -------------------------------
.about{

  .about-content {
    @media screen and (min-width: 767px) {
      flex-direction: row;
      .svg-pic{
        order: 1;
      }
      .my-text {
        order:2;
      }

    }
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    //text-align: center;
    align-items: center;
  }
  .svg-pic {
    text-align: center;
    order: 2;
    flex: 4 1 auto;
  }
  .my-text {
      padding: 0 20px;

      .svg-reset {
        outline: none;
      }
    form {
      padding: 15px 0px 25px 0px;
    }

    order:1;
    flex: 1 1 auto;

  }
}
// -------------------------------
// *      Section SVG end
// -------------------------------





// -------------------------------
// *      Section Skills start
// -------------------------------
.skills {
  width: 100%;
  height: 100vh;
  background-color: LIGHTSKYBLUE;

  .skills-caption{
    @media screen and (min-width: 767px){
      font-size: 6em;
      span {
        margin-left: -20px;
      }
      span:nth-child(5){
        margin-right: 28px;
      }
      span:nth-child(6){
        margin-right: 28px;

      }
    }
    user-select:none;
    margin: 1em auto;
    width: 80%;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 2em;
    perspective: 800px;
          animation-iteration-count: infinite;
    span {
      display:inline-block;
      margin-left: -5px;
      color:#ceebfd;
      transform-origin: 50% 70%;

    }
    span:nth-child(2n) {
      color:#f9f9f9;
    }
    span:nth-child(1){
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 6s forwards;

    }
    span:nth-child(2){
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 6.2s forwards;

    }
    span:nth-child(3){
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .4s both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 6.4s forwards;

    }
    span:nth-child(4){
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .6s both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 6.6s forwards;

    }
    span:nth-child(5){
      margin-right: 10px;
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 6.8s forwards;

    }
    span:nth-child(6){
      margin-right: 10px;
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 7s forwards;

    }
    span:nth-child(7){
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 7.2s forwards;

    }
    span:nth-child(8){
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 7.4s forwards;

    }
    span:nth-child(9){
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 7.6s forwards;

    }
    span:nth-child(10){
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.8s both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 7.8s forwards;

    }
    span:nth-child(11){
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2s both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 8s forwards;

    }
    span:nth-child(12){
      animation: flipDown 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2.2s both,
                 flipUp .5s cubic-bezier(0.45, 0.03, 0.51, 0.95) 8.2s forwards;

    }

  }
  .clouds {
    position: relative;
    user-select:none;
    .cloud{
      position: absolute;
    }
    .clouds_bg{
      .cloud_bg_1{

        top: 0;
        left: -1069px;
        z-index: 102;
        animation: drift 90s linear infinite;
      }

      .cloud_bg_2{
        top: -100px;
        left: -567px;

        z-index: 103;
        animation: drift 40s linear infinite;

      }
      .cloud_bg_3{
        left: -567px;
        top: -70px;

        z-index: 101;
        animation: drift 28s linear infinite;
        animation-delay: 5s;
      }
      .cloud_bg_4{
        top: -50px;
        z-index: 100;
        animation: drift 65s linear infinite;
      }
    }

    .clouds_skill {
      .cloud-skill {

        h1, h2, h3 {
          user-select:none;
        }
        h1::after, h2::after, h3::after {

        }
      }
      .cloud_skill-html {
        z-index: 206;
        left: -500px;
        animation: drift 15s linear infinite;
        h1 {
           position: absolute;
           top: 50px;
           left: 90px;
           width: 100%;
        }
      }

      .cloud_skill-css {
        top: 100px;
        left: -500px;
        z-index: 205;
        animation: drift 25s 2s linear infinite;
        h1 {
           position: absolute;
           top: 60px;
           left: 90px;
           width: 100%;
        }
      }

      .cloud_skill-js {
        @media screen and (min-width: 767px){
          top: -100px;
        }
        top: 400px;
        left: -500px;
        z-index: 204;
        animation: drift 20s 2s linear infinite;
        h1 {
           position: absolute;
           top: 13px;
           left: 110px;
           width: 100%;
        }
        .cloud_skill-js:hover {
          animation-play-state: paused;
        }
      }

      .cloud_skill-ps {
        top: 300px;
        left: -300px;
        z-index: 203;
        animation: drift 35s 2s linear infinite;
        h2 {
           position: absolute;
           top: 30px;
           left: 30px;
           width: 100%;
        }
      }

      .cloud_skill-ai {
        top: 250px;
        left: -300px;
        z-index: 207;
        animation: drift 22s 2s linear infinite;
        h2 {
           position: absolute;
           top: 35px;
           left: 30px;
           width: 100%;
        }
      }

      .cloud_skill-bootstrap {
        top: 180px;
        left: -350px;
        z-index: 208;
        animation: drift 17s 2s linear infinite;
        h3 {
           position: absolute;
           top: 23px;
           left: 30px;
           width: 100%;
        }
      }

      .cloud_skill-jQuery {
        top: 420px;
        left: -300px;
        z-index: 209;
        animation: drift 16s 2s linear infinite;
        h2 {
           position: absolute;
           top: 15px;
           left: 50px;
           width: 100%;
        }
      }

      .cloud_skill-github {
        @media screen and (min-width: 767px){
          top: 220px;
        }
        top: 450px;
        left: -300px;
        z-index: 210;
        animation: drift 31s 2s linear infinite;
        h2 {
           position: absolute;
           top: 30px;
           left: 40px;
           width: 100%;
        }
      }

      .cloud_skill-atom {
        @media screen and (min-width: 767px){
          top: 320px;
        }
        top: 60px;
        left: -350px;
        z-index: 211;
        animation: drift 29s 2s linear infinite;
        h2 {
           position: absolute;
           top: 16px;
           left: 40px;
           width: 100%;
        }
      }

      .cloud_skill-csharp {
        top: 180px;
        left: -450px;
        z-index: 215;
        animation: drift 21s 2s linear infinite;
        h2 {
           position: absolute;
           top: 10px;
           left: 65px;
           width: 100%;
        }
      }

      .skill-level {
        display: none;
      }

      .cloud-skill:hover {
        cursor: auto;
        animation-play-state: paused;
        h1, h2, h3 {
          // font-style:oblique;
          // margin-top: -7px;
        }
        .skill-level {
          display: block;
          font-size: 12px;
          color: STEELBLUE;

          animation: fadeIn 1s,
                     slideIn .2s ease-in;
          .level {
            color: LIGHTGREY;
          }
          // ***********************  Half star coloring
          .fa-stack {
            display: inline !important;
            margin-right: 14px;
            .fa-star-half {
              margin-top: -1px;
            }
            .fa-star {
              margin-top: -1px;
            }
          }
          // ***********************  Half star coloring
        }
        h1::after, h2::after, h3::after {
          content: '';
          cursor: auto;
          margin-top: -4px;

          font-size: 10px;
          display: block;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes slideIn {
  from {transform: translateX(40px);}
  to {transform: translateX(0px);}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes slideOut {
  from {transform: translateX(0px);}
  to {transform: translateX(40px);}
}

@keyframes drift {
  from {transform: translateX(-255px);}
  to {transform:translateX(1950px);}
}

@keyframes flipUp {
  from{transform: rotateX(180deg);}
  to{transform: rotateX(0deg);}
}

@keyframes flipDown {
  from{transform: rotateX(0deg);}
  to{transform: rotateX(-180deg);}
}

// -------------------------------
// *      Section Skills start
// -------------------------------


// -------------------------------
// *      Section Projects start
// -------------------------------

.projects {
  padding-top: 40px;
  width: 100%;
  padding-bottom: 60px;

  @media screen and (min-width: 1365px) {
      height: 100vh;

  }

  .container {
    //border: 1px solid blue;
    padding-right: 0px;
    padding-left: 0px;
    @media screen and (min-width: 767px) {
      padding-right: 15px;

    }

  }
  .projects-wrapper {
    @media screen and (min-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
      }

    .projects-container {
      .row {

      }
    }
    .projects-item {

      //width:100%;
      .projects-description {
        margin:20px 0px;

        //border: 1px solid blue;
        height: 330px;
        text-align: center;
        position: relative;

        .projects-caption{
          //border: 1px solid red;
          text-transform: uppercase;
          font-size: 54px;
        }
        .top-text {
          position: absolute;
          top: -19px;
          left:13px;
          color: #D3D3D3;
        }
        .right-text {
          transform-origin: bottom right;
          transform: rotate(-90deg);
          position: absolute;
          top: -80px;
          right: 2px;
          color: #D3D3D3;
        }
        .bottom-text {

          position: absolute;
          bottom: -20px;
          right: 18px;
          transform: scale(-1, 1);
          transform: rotate(-180deg);
          color: #D3D3D3;

        }
        .left-text {
          transform-origin: bottom left;
          transform: rotate(90deg);
          position: absolute;
          left: -3px;
          top: -33px;
          color: #D3D3D3;

        }


        .inner-box{
          // background: url(../images/gears.svg);
          // background-size: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200px;
          height:200px;
          //border:1px solid red;
          svg {
            width: 100%;

          }
          #big_gear path{
            fill: #808080;
            transform-origin: 50% 50%;
            animation: rotate 10s linear infinite;
          }
          #medium_gear path{
            fill: #808080;
            transform-origin: 50% 50%;
            animation: rotate 8s linear infinite reverse;
          }
          #small_gear path{
            margin: 20px;
            fill: #808080;
            transform-origin: 50% 50%;
            animation: rotate 6s linear infinite reverse;
          }
          @keyframes rotate {
            100% {transform: rotate(360deg);}
          }
        }
      }

      .projects_list{
        .project {
          color: red;
          height: auto;
          //border: 1px solid red;
          @media screen and (min-width: 767px){
            padding-right: 0px;
            padding-left: 0px;
          }

          img {
            width: 100%;
          }
        }
      }

    }
  }
}


// -------------------------------
// *      Section Projects end
// -------------------------------




// -------------------------------
// *      Section Footer end
// -------------------------------

.footer-wrapper{
  width: 100%;
  height: 100vh;

  background-color: #000;

}


// -------------------------------
// *      Section Footer end
// -------------------------------
